body{
    background-color: black;
    margin: 0px;
    font-family: cursive;
}
nav{
    background-color: black;
    margin: 0px;
    padding: 0px;
    height: 60px;
}
.nav-list ul{
    display: flex;
    list-style-type: none;
}
.nav-list ul li{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0%;
}
.nav-list ul li a{
    font-size: 15px;
    text-decoration: none;
    color: #8a8a8a;
}
.nav-list ul li a:hover{
    color: #FFFFFF;
    scale: 1.5;
}


.upper-footer{
    max-width: 70%;
    margin-left: 15%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    color:#8a8a8a;
}
.upper-footer .des p{
    text-align: center;
    margin-top: 20%;
    font-size: 10px;
    padding-left: 0%;
}
.upper-footer .links ul{
    padding: 0%;
    list-style-type: none;
}
.upper-footer .links ul li{
    margin: 0%;
    padding: 0%;
}
.upper-footer .links ul li a{
    font-size: 10px;
    text-decoration: none;
    color: #8a8a8a;
}
.upper-footer .links ul li a:hover{
    color: #FFFFFF;
}
.news-letter h1{
    font-size: 30px;
    padding-bottom: 5%;
}
.news-letter .letter{
    background-color: transparent;
    border: 0;
    outline: none;
    font-size: 15px;
    width: 70%;
    padding-bottom: 0%;
    margin-bottom: 5%;
    color: #8a8a8a;
}
::placeholder {
    color: #8a8a8a;
    font-family: cursive;
    opacity: 1;
  }
.news-letter .button{
    background: transparent;
    border: 0;
    outline: none;
}
.lower-footer{
    margin-top: 24px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-between;
}
.lower-footer .social .footer-icon{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}